.name {
    font-size: xx-large;
    color: white;
    background-color: lightblue;
    font-weight: bold;
}
.footer {
    text-align: center;
}
.aboutme {
    color: lightblue;
    padding: 10px 25px 10px 25px;
}
.button {
    color: white;
    background-color: lightblue;
    border: none;
    padding: 10px 10px 10px 10px;
}